# Reference this file for server configuration

# Configure backend port
PORT=5000

# Railway API Provider
# rapidapi | railradar
RAILWAY_PROVIDER=rapidapi

# Provide your actual API Key
RAILWAY_API_KEY=

# Provide API Host and URL
RAILWAY_API_HOST=irctc1.p.rapidapi.com
RAILWAY_API_URL=https://irctc1.p.rapidapi.com
